.slider-container {
  margin: 2.5rem 0;
  max-height: 600px;
  padding: 0.5rem 0;
  text-align: center;
  color: whitesmoke;
}

.slider-container h1 {
  margin: 0;
}

.slider-container p {
  font-size: 0.75rem;
}
