.vault-container {
  margin: auto;
  text-align: center;
  font-family: pixelfont, Helvetica Neue, Helvetica, Arial, sans;
  background-color: rgba(245, 245, 245, var(--tw-bg-opacity));
  max-height: 100v;
  max-width: 100%;
  border: solid;
  font-size: 1.5rem;

}

.vault-content {
  border: solid;
}

.vault-links {
  font-family: pixelfont, Helvetica Neue, Helvetica, Arial, sans;
  text-decoration: none;
  color: black;
}

.vault-links:hover {
  text-decoration: underline;
}