.about-container {
  font-family: pixelfont, Helvetica Neue, Helvetica, Arial, sans;
  padding: 4rem 14rem;
  background-color: black;
  color: white;
  font-size: 2vh;
  min-height: 90%;
  margin: auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  justify-content: center;
}
.about-item {
  text-align: left;
  max-width: 100%;
  border-left: 2px solid rgb(255, 255, 255);
  padding: 1rem 1.5rem;
  margin: 0;
  line-height: 1.3;
}

.about-item p {
  font-size: 2vh;
}
