.modal-footer {
  justify-content: start;
}

.main-header {
  background-color: #d6b9fc;
  min-height: 90vh;
  max-width: 100%;
}

/* LEFT GRID SIDE */

.header-info {
  border: 2px solid black;
}

.border-solid {
  border: 2px solid;
}

.stats-container {
  background-color: #d6b9fc;
}

.border-white-round {
  border: solid 1px white;
  border-radius: 1rem;
}

/* Header Info CSS */
.title {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
  padding: 0 2rem;
}

.text {
  /* border: 2px solid tomato; */
  line-height: 1.5;
  margin: 0;
  padding: 0 2rem;
  font-size: 1.5rem;
  font-weight: 350;
}

.input-container input {
  font-size: 1rem;
  width: 100%;
}

.button-main {
  font-family: "Inter", sans-serif;
  border-radius: 6px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 1.3rem 2rem;
  font-size: 1.2rem;
  letter-spacing: 0.03em;
  border: none;
  text-decoration: none;
}

.button-main:hover {
  color: rgba(255, 255, 255);
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 0px 40px);
  text-decoration: none;
}

/* Under 800px Media Queries */

@media (max-width: 1050px) {
  .info-left {
    text-align: center;
  }

  /* INFO-LEFT DEPOSIT CONTAINER */
  .deposit {
    display: block;
    padding: 0rem;
  }
  .info-left .title {
    font-size: 3rem;
  }
  .info-left .text {
    font-size: 1.7rem;
  }
  .input-container {
    padding: 0;
  }
  input {
    font-size: 0.8rem;
    min-width: 60%;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 820px) {
  .main-container {
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
  }
}

@media (max-width: 450px) {
  .title {
    padding: 0;
  }
  .text {
    padding: 0;
  }
  .input-container {
    padding: 0 0.5rem;
  }

  .button-main {
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }
}
