.main-container {
  display: flex;
  padding: 5% 15%;
  min-height: 80vh;
  max-width: 100%;
  gap: 2rem;
}

/* LEFT GRID SIDE */

.info-left {
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
}

/* Header Info CSS */
.title {
  font-size: 4.5vw;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Eksell Display Large";
  margin: 0;
  padding: 0 4vw;
}

.text {
  /* border: 2px solid tomato; */
  line-height: 1.5;
  margin: 0;
  padding: 0 4vw;
  font-size: 2vw;
  font-weight: 350;
}

.deposit {
  display: flex;
  align-items: center;
  margin-top: 4vh;
  justify-content: flex-start;
  padding: 0px 4vw;
}

.input-container input {
  padding: 2px;
  text-align: center;
  font-size: 1.2vw;
  max-width: 100%;
}

.input-container {
  max-width: 100%;
  padding-right: 2rem;
}

/* RIGHT GRID SIDE */

.info-right {
  min-width: 40%;
  background-image: url(http://localhost:3000/static/media/background.6b90f1828460720287dc.jpg);
  background-size: cover;
  border-radius: 0.5rem;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
  overflow: hidden;
  justify-content: center;
}

.info-right button {
  margin-top: 1rem;
}

.info-right a {
  color: black;
  font-size: 1vw;
}
.info-right a:hover {
  color: whitesmoke;
}

.info-right-text {
  font-family: pixelfont, Helvetica Neue, Helvetica, Arial, sans;
  display: flex;
  align-items: end;
  padding: 0;
  min-width: 100%;
  justify-content: center;
}

.info-right-text h1 {
  font-size: 14vw;
  margin: 0;
}

.info-right-text p {
  font-weight: 500;
  font-size: 1.5vw;
}

.info-right-links {
  min-width: 100%;
}

.button-main {
  border-radius: 6px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 1.5rem 2.5rem;
  font-size: 1vw;
  letter-spacing: 0.03em;
  font-family: "Roboto Flex", sans-serif;
  border: none;
  text-decoration: none;
}

.button-main:hover {
  color: rgba(255, 255, 255);
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 0px 40px);
  text-decoration: none;
}
