.main-container {
  border: 2px solid tomato;
  margin: 0;
  padding: 5rem;
  display: flex;
}

.info-left {
  border: 2px solid tomato;
  width: 70%;
  position: relative;
}

/* Header Info CSS */
.title {
  border: 2px solid tomato;
  text-align: left;
  font-size: 3.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
}

.text {
  border: 2px solid tomato;
  text-align: left;
  margin: 0;
}

.info-right {
  border: 2px solid tomato;
  width: 30%;
  background-image: url("../../images/background.jpg");
  background-size: contain;
}

.info-right-text {
  padding: 0px;
}

.info-right-text h1 {
  font-size: 11rem;
  margin: 0;
}

.button-main {
  border-radius: 6px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 20px 41px;
  font-size: 0.9rem;
  letter-spacing: 0.03em;
  font-family: "Roboto Flex", sans-serif;
  border: none;
  margin-top: 56px;
  text-decoration: none;
}

.button-main:hover {
  color: rgba(255, 255, 255);
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 0px 40px);
  text-decoration: none;
}

.deposit {
  border: 2px solid tomato;
}
