.navbar-container {
  border: 2px solid tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2.5rem;
  position: relative;
  
}

.logo {
  position: absolute;
  left: 1.5rem;
  font-weight: bolder;
}

.link {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.auth-container {
  position: absolute;
  right: 1.5rem;
}

.auth-container button {
  border-radius: 6px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 12px 18px;
  font-size: .8rem;
  /* letter-spacing: 0.03em; */
  font-family: "Roboto Flex", sans-serif;
  border: none;
  /* margin-top: 56px; */
  text-decoration: none;
}

.auth-container button:hover {
  color: rgba(255, 255, 255);
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 0px 10px);
  text-decoration: none;
}

.status-info {
  border: 2px solid tomato;
}

.social-media {
  /*border: 2px solid tomato;*/
  border: 2px solid blue;
  position: absolute;
  height: 100%;
  right: 10rem;
}

.social-media img {
  width: 1.2rem;
  height: 1.2rem;
  background-color: whitesmoke;
}

.link-element {
  font-size: 1.2rem;
  background-color: whitesmoke;
  color: black;
  text-decoration: none;
}
