.logo {
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
  font-weight: 900;
}

.auth-container button {
  font-family: "Inter", sans-serif;
  border-radius: 6px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 1rem 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.02em;
  border: none;
}

.auth-container button:hover {
  color: rgba(255, 255, 255);
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 0px 10px);
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

.navbar {
  border-bottom: 0.5px solid black;
}
