.footer {
  font-family: pixelfont, Helvetica Neue, Helvetica, Arial, sans;
  min-height: 20vh;
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: black;
  align-items: center;
  padding: 2rem;
  min-width: 100%;
  font-size: 2vw;
}

.footer img {
  padding: 1rem;
}

.footer img:hover {
  background-color: rgb(207, 145, 207);
  border-radius: 10px;
}
