.container {
  margin: auto;
  text-align: center;
  background-color: rgba(245, 245, 245, var(--tw-bg-opacity));
}

body {
  font-family: "Inter", sans-serif;
}

.btn-primary {
  background-color: #d6b9fc;
}
