.container {
  margin: 0;
  text-align: center;
  font-family: "Roboto Flex", sans-serif;
  background-color: rgba(245, 245, 245, var(--tw-bg-opacity));
}

body {
  
}

.margin-ignore {
  margin: 0 -22%;
}

@media (min-width: 1500px) {
}