.container {
  margin: auto;
  text-align: center;
  font-family: pixelfont, Helvetica Neue, Helvetica, Arial, sans;
  background-color: rgba(245, 245, 245, var(--tw-bg-opacity));
}

body {
  background-color: whitesmoke;
}

@media (max-width: 1346px) {
  
}